{% extends "template.html" %}

{% block picword %}Elevate Yourself{% endblock %}

{% block sidecontent %}
<div class="card text-center" style="width:18rem;margin:0 auto;">
    <h2> Sign In</h2>
    <form action = "/user" method = "post">
        <div class="form-group">
            <label for="formGroupExampleInput">Username</label>
            <input type="text" class="form-control" name="username" placeholder="Username" required>
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>

    <form class="center" action="/register" method="GET">
        <button class="btn btn-link" type="submit">Don't have an account?</button>
    </form>
</div>
{% endblock %}

{% block rightHeader %}
<h2> About This Website: </h2>
{% endblock %}

{% block map %}
<!-- <img src = "{{url_for('static', filename='pictures/changeHabbits.jpeg')}}" height = "350" width= "450" class="align-self-center mr-3" alt="..."> -->
<div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCx6LGuH_cn19MOivZ_hqRP00b56HJfBd8&callback=initMap&v=weekly"
      async
    ></script>
<img src = "{{url_for('static', filename='pictures/changeHabbits.jpeg')}}" height = "350" width= "450" class="align-self-center mr-3" alt="...">
{% endblock %}

{% block mapContent %}
<h5 class="mt-0">How This Works:</h5>
<p>Sign up or sign in to the website automate your habit tracking and add friends to keep eachother accountable.</p>
{% endblock %}