.header
{
    position: relative;
    text-align: left;
    color: black;
}

.bottomMain 
{
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%); 
}

.picContainer
{
    position: relative;
    text-align: center;
    color: white;
}

.navbar
{
    background-color: black;
    display:flex;
}

.navbar a:hover
{
    background-color: White;
    color: black;
}

.navbar a
{
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
}

.centered 
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
}

p.round
{
    border: 2px black;
    border-radius: 12px;
}

.sideCol
{
    background-color: #f1f1f1;
    padding: 20px;
    flex: 30%;
}

.rowCon
{
    display: flex;
    flex-wrap: wrap;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
        height: 100%;
        width: 100%;
    }
    
    /* Optional: Makes the sample page fill the window. */
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    
    .custom-map-control-button {
        background-color: #fff;
        border: 0;
        border-radius: 2px;
        box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
        margin: 10px;
        padding: 0 0.5em;
        font: 400 18px Roboto, Arial, sans-serif;
        overflow: hidden;
        height: 40px;
        cursor: pointer;
    }
    
    .custom-map-control-button:hover {
        background: #ebebeb;
    }

.main
{
    flex: 70%;
    background-color: white;
    padding: 20px;
}

.main2
{
    flex: 100%;
    background-color: white;
    padding: 20px;
}

th, td
{
    border: 1px solid black;
}

table
{
    border: 2px solid black;
    border-collapse: collapse;
}

@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);

.detailBox
{
    width: 320px;
    border: 1px solid #bbb;
    margin: 50px;
}

.titleBox
{
    background-color: #fdfdfd;
    padding: 10px;
}

.titleBox label
{
    color:#444;
    margin:0;
    display:inline-block;
}

.taskDescription
{
    margin-top:10px 0;
}

.signInContainer {
    border-radius: 25px;
    margin: auto;
    margin-top: 15px;
    padding: 15px;
    background-color: #ffefa6;
    color: #320340;
}

divCenter {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

imgCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

textCenter {
  text-align: center;
}